################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ActivityChain/.vs/ActivityChain/v16/Server/sqlite3
